*{ box-sizing: border-box; }
.body {
  background: #E5E5E5
}
/* top-follower */
.top-follower-card {
  width: 273px;
  height: 731px;
  background: #FAFAFB;
  border-radius: 16px;
  left: 997px;
  top: 16px;
  border: none
}
.top-follower-header {
  background: #FAFAFB;
  height:74px
}
.top-follower-title {
  position: absolute;
    width: 96px;
    height: 26px;
    left: 24px;
    top: 24px;
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #171725;
}

/* follower */
.follower-card {
  padding: 16px;
  text-align: center;
}
.follower-avatar {
  border-radius: 50%;
  transition: opacity 0.5s;
  opacity: 0;
  margin-right: 8px;
}
.follower-name {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}
.follower-account {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #92929D;
}
.follow-button {
  width: 64px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #FF6600;
  border-radius: 50px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FF6600;
}
.unFollow-button {
  width: 96px;
  height: 40px;
  background: #FF6600;
  border-radius: 50px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}