*{ box-sizing: border-box; }
.body {
  background: #E5E5E5
}

/* follower */
.follower-card {
  width:639px;
  left: 332px;
  background: #FFFFFF;
  text-align: center;
  border: 1px solid #E6ECF0;
}
.follower-avatar {
  border-radius: 50%;
  transition: opacity 0.5s;
  opacity: 0;
  margin-right: 8px;
}
.follower-name {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}
.follower-account {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #92929D;
}
.follow-button {
  width: 64px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #FF6600;
  border-radius: 50px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FF6600;
}
.unFollow-button {
  width: 96px;
  height: 40px;
  background: #FF6600;
  border-radius: 50px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
/* followship */
.viewUser-nav {
  position: absolute;
    width: 639px;
    height: 75px;
    left: 332px;
    background: #FFFFFF;
    /* color/border */
    border: 1px solid #E6ECF0;
    text-align: center;
}
.viewUser {
  margin-left: 28px
}
.viewUser-icon {
  margin-right: 19px
}
.viewUser-name {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #171725;
  margin: 0
}
.viewUser-tweet-number {
  font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #6C757D;
    margin: 0
}